# Folders
build/
.idea/
.gradle/

# Files #
*.war
*.ear
*.class

*.log
*.iml
*.ims

stellarmoduledb.*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# gradle-wrapper so anyone can work with it without pre-installing gradle #
!gradle/wrapper/gradle-wrapper.jar
/target/
